html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #e7e7ff;
    background-image: url(https://img.freepik.com/free-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-52379.jpg?w=1480&t=st=1660310234~exp=1660310834~hmac=39341d5a440805218556ef7f7562451e549b72655256dfbba688526f09051a74);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}
.sectioncolors {
    background-color: #000c48;
    color: white;
}
.searchheight{
    min-height: 50px;
}
.parkbutton{
    font-size: 40px;
}
.listfunc{
    min-height: 800px;
}
.right {
    position: absolute;
    left: 0px;
}